@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --first-color: #323031;
    --second-color: #3d3b3c;
    --third-color: #7f7979;
    --fourth-color: #C1BDB3;
    --five-color: #5f5b6b;
    --six-color: #e0dfd4;
    --seven-color: #adacaa;
}

body{
    background-color: #c1bdb3;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: #281611;
}

a{
    text-decoration: none;
}

.mob-nav a {
    color: var(--fourth-color);
}
body .p-inputtext:focus {
    border-color: var(--third-color) !important; /* Cambia el color del borde */
    box-shadow: 0 0 0 0.2rem rgba(169, 169, 169, 0.25) !important; /* Cambia el color de la sombra */
}

body .p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
    background-color: transparent;
}